@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');

*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}


body{
    height: 200vh;
    /*display: flex; */
    justify-content: center;
    
}

*{
    margin: none ;  /* Margem */
    list-style: none ; /* Elimina marcadores do menu */
}

/* Background do menu  */
#menu {
    /*width: 100%; /* Espaço */
    /*height: 59px; /* Altura */
    background-color:rgb(248, 205, 153); /* Cor */
    text-align: center;
    left: -50px;
    width: 106%;
    height: 10%;
    position: absolute;
    margin-left: 0px;
    display: inline-block;

}

/* Menu */
#linksmenu li a {
    float: left;
    margin-left: 10%;
    padding: 15px; /* Altura */
    background-color: rgb(248, 205, 153); /* Cor*/
    color:  orange; /* Cor das letras */
    text-decoration: none;  /* Elimina o sublinhado do texto */
    font-size: 18px; /* Tamanho da fonte*/
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    border-radius:5px;
}
/* Efeito ao passar o mouse*/
/*#linksmenu li a:hover{
    background-color: burlywood;
    color: #eed29f;
    border-radius: 5px;
}*/
.imagem{
    text-align: center;
}

nav{
    background-color: rgb(248, 205, 153);
    overflow: hidden; 
    position: absolute;
    width: 100%;
    z-index: 2;
    
}
nav a{
    color: rgb(0, 0, 0);
    display: block;
    text-decoration: none;
    display:inline-flex;
    margin-top: 0;
    margin-left: 10%;
    padding: 14px 19px;
    text-align: center;
}
/* Efeito ao passar o mouse*/
/*nav a:hover{
    background-color: #c87602;
    color: #eed29f;
    border-radius: 5px;
}*/
.container1{
    height: 800px;
    max-width: 800px;
    width: 100%;
    background-color: white;
    padding: 10px 30px;
    border-radius: 5px;
    margin-top: 100px;
}
.container .titulo{
    font-size: 10px;
    font-weight: 200;
    position: relative;
}
.container p{
    font-size: 14px;
    font-weight: 200;
    position: relative;
}
.container .titulo::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 5px;
    width: 20px;
    background: linear-gradient(135deg,#ffeac3, #755313 );
}
.container form .user-details{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
form .user-details .area{
    margin: 14px 12px 0;
    width: calc(100% / 2 - 40px);
}
textarea{  
    /* box-sizing: padding-box; */
    /* demo only: */
    width:300px;
    height: 110px;
    margin-bottom: 15px;
    font-size:14px;
    display:block;
    border-radius:10px;
    border:0.5px solid #000000;
    border:0.5px  #000000;
    resize: none;
}
.user-details .area .details{
    font-weight: 300;
    margin-bottom: 5px;
    display: block;
}
.user-details .area input{
    height: 25px;
    width: 100%;
    outline: none;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding-left: 15px;
    font-size: 10px;
    border-bottom-width: 2px;
    transition: all 0.3 ease;
}

.user-details .area input:focus,
.user-details .area input:valid{
    border-color: #ffeac3;
}
.arquivos{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 10px;
}

form .button{
    width: 50px 0;
    height: 50px;
}

form .button input{
    width: 100%;
    margin-top: 10px;
    height: 100%;
    outline: none;
    text-align: center;
    padding: 15px 20px;
    border: none;
    font-weight: 500;
    border-radius: 5px;
    letter-spacing: 1px;
    background: linear-gradient(135deg,#ffeac3, #c7ab76 );
    font-size: 18px;
    transition: 1s;
    cursor: pointer;
}
form .button input:hover{
    background: linear-gradient(-135deg,#ffeac3, #c7ab76 );
}

