@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');

* {
    margin: 0;
    margin-left: 10;
    margin-right: 0px;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}


/*Irá centralizar todas as tags h2 e h3*/
.h2, h3{
    text-align: center; 
}

/* Formatação das caracteristicas  */
#alinhar{
    margin: 10%;  
    background-color: rgb(248, 205, 153);   /* Cor de fundo*/
    border-radius: 50%;  /* Arredonda a cor de fundo*/
    text-align:center ;  /*Alinha o texto dentro da formatação*/
}



/* Formatação geral do Menu */
*{
    padding: 0;  /* Elimina o espaço antes do menu home */
    margin: none ;  /* Margem */
    list-style: none ; /* Elimina marcadores do menu */
}

/* Background do menu  */
#menu {
    /*width: 100%; /* Espaço */
    /*height: 59px; /* Altura */
    background-color:rgb(248, 205, 153); /* Cor */
    text-align: center;
    left: -50px;
    width: 106%;
    height: 10%;
    position: absolute;
    margin-left: 0px;
    display: inline-block;

}

/* Menu */
#linksmenu li a {
    float:left ; /* Posição */
    margin-left: 10%;
    padding: 15px; /* Altura */
    background-color: rgb(248, 205, 153); /* Cor*/
    color:  #412b06; /* Cor das letras */
    text-decoration: none;  /* Elimina o sublinhado do texto */
    font-size: 18px; /* Tamanho da fonte*/
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    border-radius:5px;
}
/* Efeito ao passar o mouse*/
#linksmenu li a:hover{
    background-color: #c87602;
    color: #eed29f;
    border-radius: 5px;
}
.imagem{
    text-align: center;
}



