@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');


* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    list-style: none ; /* Elimina marcadores do menu */
}

body {
    background-image:  url(img/pet.jpg);
    color: #64430b;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

}

footer{
    margin-top: 10%;
    background-color: rgb(248, 205, 153);
    width: 100%;
    text-align: center;
}

/*Irá centralizar todas as tags h2 e h3*/
.h2, h3{
    text-align: center; 
}

/* Formatação das caracteristicas  */
#alinhar{
    margin: 10%;  
    background-color: rgb(248, 205, 153);   /* Cor de fundo*/
    border-radius: 0%;  /* Arredonda a cor de fundo*/
    text-align:center ;  /*Alinha o texto dentro da formatação*/    
}



/* Background do menu  */
#menu {
    /*width: 100%; /* Espaço */
    /*height: 59px; /* Altura */
    background-color:rgb(248, 205, 153); /* Cor */
    text-align: center;
    left: -50px;
    width: 106%;
    height: 10%;
    position: absolute;
    margin-left: 0px;
    display: inline-block;
}

#cabecalho{
    text-align :center;
    width: 117%;
    height: 100%;
    margin-left: 0;
    display: block;

    
}

/* Menu */
#linksmenu li a {
    float:left ; /* Posição */
    margin-left: 10%;
    padding: 15px; /* Altura */
    background-color: rgb(248, 205, 153); /* Cor*/
    color:  #412b06; /* Cor das letras */
    text-decoration: none;  /* Elimina o sublinhado do texto */
    font-size: 18px; /* Tamanho da fonte*/
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    border-radius:5px;


}

/* Efeito ao passar o mouse*/
#linksmenu li a:hover{
    background-color: #c87602;
    color: #eed29f;
    border-radius: 5px;
}

/* login */

main {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

main h1 {
    color: #64430b;
    font-size: 3rem;
    margin-bottom: 3rem;
    text-align: center;
}


main form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

main form label {
    display: flex;
    flex-direction: column;
}

main form label span {
    font-size: 1.1rem;
    margin-top: 2rem;
}

main form input {
    background: rgb(248, 205, 153);
    width: 300px;
    height: 50px;
    padding: 0 0.5rem;
    margin-top: 1rem;
    outline: none;
    color: rgba(166, 166, 166);
    font-size: 1rem;
    border: 1px solid #040B18;
    border-radius: 8px;
}

main form input[type="submit"] {
    cursor: pointer;
    width: 50%;
    margin-top: 4rem;
    border: none;
    border-radius: 32px;
    background: #64430b;
    color: white;
    font-size: 1.1rem;
    transition: all .3s ease-in-out;
}

main form input[type="submit"]:hover {
    background: rgb(248, 205, 153);
}

@media only screen and (min-width: 900px) and (max-width: 1200px) {
    section.images img {
        width: 110%;
    }

    section.images .circle {
        clip-path: circle(35% at right 80%);
    }
}

@media only screen and (max-width: 900px) {
    section.images {
        display: none;
        visibility: hidden;
    }

    main {
        width: 100vw;
    }
}

@media only screen and (max-width: 450px) {
    main h1 {
        font-size: 2rem;
    }

    main .alternative span {
        font-size: 0.8rem;
    }

    main form label span, main form input[type="submit"] {
        font-size: 1rem;
    }
}