img{
    border-radius: 18px;
    margin-left: 5%;
    margin-right: auto;
    vertical-align:text-top;
   }
   
   * {
       margin: 0;
       padding: 0;
       border: 0;
       box-sizing: border-box;
       font-family: "Poppins", sans-serif;
       list-style: none ; /* Elimina marcadores do menu */
       
   }
   
   body {
       background-image: url(img/pet.jpg);
       color: #64430b;
       width: 100%;
       display: flex;
       flex-direction: column;
       align-items: center;
   
   }
   
   footer{
       margin-top: 10%;
       background-color: rgb(248, 205, 153);
       width: 100%;
       text-align: center;
   }
   
   /*Irá centralizar todas as tags h2 e h3*/
   .h2, h3{
      text-align:left; 
   }
   
   /* Formatação das caracteristicas  */
   #alinhar{
       margin: 10%;  
       background-color: rgb(248, 205, 153);   /* Cor de fundo*/
       border-radius: 0%;  /* Arredonda a cor de fundo*/
       text-align:center ;  /*Alinha o texto dentro da formatação*/    
   }
   
   
   
   /* Background do menu  */
   #menu {
       /*width: 100%; /* Espaço */
       /*height: 59px; /* Altura */
       background-color:rgb(248, 205, 153); /* Cor */
       text-align :center;
       width: 117%;
       height: 100%;
       position: center;
       margin-left: 0;
       display: block;
       float: left;
   
   }
   
   #cabecalho{
       text-align :center;
       width: 117%;
       height: 100%;
       margin-left: 0;
       display: block;
   
       
   }
   
   
   
   /* Menu */
   #linksmenu li a {
       float:left ; /* Posição */
       padding: 19px; /* Altura */
       background-color: rgb(248, 205, 153); /* Cor*/
       color:  #412b06; /* Cor das letras */
       text-decoration: none;  /* Elimina o sublinhado do texto */
       font-size: 18px; /* Tamanho da fonte*/
       -webkit-border-radius: 5px;
       -moz-border-radius:5px;
       border-radius: 9px;
       width:20%;
   
   
   }
   
   /* Efeito ao passar o mouse*/
   #linksmenu li a:hover{
       background-color: #c87602;
       color: #eed29f;
   }
   
   .cabecalho {
     width: 100%;
     float: left;
     padding: 3% 4%;
   
   }
   .logo {
     width: 56px;
     height: 56px;
     font-size: 0;
     min-height: 10em;
     display: table-cell;
     vertical-align: middle 
   
   }
   
   .listapets {
       display: flex;
   }